.user-container {
  display: flex;
  flex-direction: column;
}

.user-container .btns {
  align-self: flex-end;
  margin: 2em;
}

.user-container .btns #addUser {
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin-right: 20px;
  background-color: #0684CB;
  cursor: pointer;
  text-decoration: none;
  color: #FFF;
  font-size: 20px;
  text-align: center;
}

.user-container .btns #addWorker:hover {
  opacity: 90%;
}

.user-container .btns #hist {
  padding: 5px;
  border-radius: 5px;
  border: none;
  margin-right: 20px;
  background-color: #CACACA;
  cursor: pointer;
  text-decoration: none;
  color: #333;
  font-size: 16px;
  text-align: center;
}

.user-container .btns #hist:hover {
  opacity: 90%;
}

.user-container h2 {
  color: #FFF;
  margin: 20px;
  margin-left: 40px;
  font-style: italic;
}

.user-container table {
  margin: 2em;
  text-align: center;
}

.user-container table thead tr {
  background-color: #666;
  color: #FFF;
  font-size: 18px;
}

.user-container table tbody tr {
  background-color: #444;
  color: #FFF;
}

.user-container table tbody tr td {
  padding: 2px;
  word-wrap: break-word;
  max-width: 200px;
}

.user-container table tbody tr td svg {
  cursor: pointer;
  margin-right: 5px;
}